body {
    background-image: linear-gradient(180deg, #121212,#27272e)!important;
	background-color: #252525!important;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 40px 0;
}

.container.gallery-container {
    background-color: #222222;
    color: #cdcdcd;
    min-height: 100vh;
    padding: 30px 50px;
    border-radius: 30px;
	box-shadow: 0px 0px 3px 0px #000;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.description2 {font-family: 'Rubik One', sans-serif;font-size: 50px;background: #525252;display: table;margin: 20px auto;color: white;border-radius: 5px;mix-blend-mode: multiply;padding: 5px 10px;font-weight: 800;text-transform: uppercase;}


.description2:hover {font-family: 'Rubik One', sans-serif;font-size: 50px;background: #141414;display: table;margin: 20px auto;color: #ff7e0b;border-radius: 5px; mix-blend-mode: normal; padding: 5px 10px;font-weight: 800;text-transform: uppercase;}


.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
    border: 1px solid #151515;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgb(46 175 206 / 11%);
    content: '';
    transition: 0.4s;
    border: 1px solid #ff4900;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .5), 0px 0px 15px 0px #000000;;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}




















img.log {
    position:relative;
    width:200px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: 1s;
	transition: all 2.2s ease-in-out;
}
img.log:hover {
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}


h2 {
    color: #ffad5b;
    text-align:center;
}

.ko{
    display:flex;
    align-items:center;
}


h1.name {
    position: relative;
    text-align: center!important;
    color: #ffad5b!important;
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    unicode-bidi: isolate;
}

a.mainbtn {
    left: 50%;
    top:50%;
    display: block;
    position: relative;
    margin-top: 40px;
    transform: translate(-50%, -50%);
    width: 173px;
    height: 46px;
    background: #232323;
    text-decoration: none!important;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    color: #ffad5b!important;
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 4px;
}

a.mainbtn:before,
a.mainbtn:after,
span:before,
span:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #FF0;
    transition: 1s;
    mix-blend-mode: hue;
}

a.mainbtn:before {
    top: -2px;
    left: -2px;
    background: #ffad5b;
}

a.mainbtn:after {
    top: -2px;
    right: -2px;
    background: #ffad5b;
}

span:before {
    background: none;
}

span:after {
    background: none;
}

a:hover:before,
a:hover:after,
a:hover span:before,
a:hover span:after {
    width: calc( 180px/2 );
    height: calc( 50px/2 )
}

.b-container {
    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin: 0px auto;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}

.b-popup {
    width: 100%;
    height: 1080px;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
	z-index: 9997;
}

.b-popup .b-popup-content {
    margin: 40px auto 0px auto;
    width: 30%;
    height: 60%;
    padding: 10px;
    background-color: #121212;
    box-shadow: 0px 0px 5px 0px #ffb28b;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #ffb28b;
}

input {
    display: block;
    margin: 0 auto;
    background-color: #303030!important;
    border: solid 2px #0e0e0e !important;
    outline-width: 0;
    color: white!important;
    box-shadow: inset 0px 0px 5px 0px #606060 !important;
}

input:focus {
    border: solid 2px #ffcf81!important;
    box-shadow: 0px 0px 5px 0px #ffb28b!important;
}

input:hover {
    box-shadow: 0px 0px 5px 0px #ffb28b!important;
}

input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
	
	
	.b-popup-content2 {
   border-radius: 3px;
   width: 260px; 
   height: 25px;
}



.btn {
    display: block!important;
	margin-left: auto!important;
	margin-right:auto!important;
	margin-top: 25px!important;
    padding: 6px 12px!important;
    margin-bottom: 0!important;
    font-size: 14px!important;
    font-weight: 400!important;
    line-height: 1.42857143!important;
    text-align: center!important;
    white-space: nowrap!important;
    vertical-align: middle!important;
    -ms-touch-action: manipulation!important;
    touch-action: manipulation!important;
    cursor: pointer!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    background-image: none!important;
    border: 1px solid #212121 !important;
    border-radius: 4px !important;
	box-shadow: 0px 0px 0px 2px #232121;
    background-color: #323232 !important;
	transition: 1s !important; /* Время перехода */
}

.btn-primary:hover {
    color: #fff!important;
    background-color: #080808!important;
	border: 1px solid #ff3001c9 !important;
	transition: 1s !important;
	box-shadow: 0px 0px 0px 2px #000000, 0px 0px 20px 0px #ff1b1b!important;
}

.a2 {
    color: #ffffff;
    text-decoration: none;
    float: right;
    margin-right: 9px;
   font-weight: 800;
    text-shadow: 0px 1px #000;
    font-size: 120%;
    transition: 1s;
}

a:focus, a:hover {
    color: #ff9a49!important;
    text-decoration: none!important;
	text-shadow: 1px 1px 1px black, 0 0 1em #cc6666!important;
	transition: 1s!important;
}

hr {margin: 8px 0!important;padding: 0!important; box-shadow: 0px 0px -1px 1px #000000 !important;
           border: 0!important; height: 1px!important;       background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255 145 71), rgba(0, 0, 0, 0))!important;} 
		   
		   
		   
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: monospace!important;
    font-weight: 500!important;
    line-height: 1.1!important;
    text-transform: uppercase!important;
    color: #ffad84 !important;
    text-shadow: 0px 1px #000, 0px 0px 10px #d84141!important;
    text-align: justify!important;
    font-size: 20px!important;
}


/* Обводка */
::selection {color:#ffad5b;}
::-moz-selection { color:#ffad5b;}
::-webkit-selection {color:#ffad5b;}



/* Оформление кнопка вверх */




/* Оформление прокрутки */
#body{} 
 ::-webkit-scrollbar 
 { 
 width: 5px; 
 height: 5px; 
 } 
 ::-webkit-scrollbar-track-piece 
 { 
 background-color: #252525; 
 -webkit-border-radius: 5px; 
 } 
 ::-webkit-scrollbar-thumb:vertical 
 { 
 height: 5px; 
 background-color: #ff5e1b; 
 -webkit-border-radius: 5px; 
 } 
 ::-webkit-scrollbar-thumb:horizontal 
 { 
 width: 5px; 
 background-color: #121212; 
 -webkit-border-radius: 5px; 
 } 

 
 
 
 /* ------------ */
 
 
 
 
.form_radio {
	margin-bottom: 10px!important;
}
.form_radio input[type=checkbox] {
	display: none!important;
}
.form_radio label {
	display: inline-block!important;
	cursor: pointer!important;
	position: relative!important;
	padding-left: 25px!important;
	margin-right: 0!important;
	line-height: 18px!important;
	user-select: none!important;
}
.form_radio label:before {
	content: "";
	display: inline-block!important;
	width: 17px!important;
	height: 18px!important;
	position: absolute!important;
	left: 0!important;
	bottom: 1px!important;
	background: url(https://snipp.ru/img/radio-1.png) 0 0 no-repeat!important;
}
 
/* Checked */
.form_radio input[type=checkbox]:checked + label:before {
	background: url(https://snipp.ru/img/radio-2.png) 0 0 no-repeat!important;
}
 
/* Hover */
.form_radio label:hover:before {
	filter: brightness(120%)!important;
}
 
/* Disabled */
.form_radio input[type=checkbox]:disabled + label:before {
	filter: grayscale(100%)!important;
}

button[disabled], html input[disabled] {
    cursor: default;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

p2 {
    margin: 0 0 10px;
    display: block;
    text-align: center !important;
    font-weight: 500;
    font-size: 100%;
    color: #ffffff !important;
    text-shadow: 0px 1px #000, 0px 0px 10px #000000 !important;
    text-transform: uppercase;
}


button[disabled], html input[disabled] {
    cursor: default;
    font-size: 200%;
	display: block;
    width: 100%;
    text-align: center;
    color: #ffa700 !important;
    text-shadow: 0px 1px #000, 0px 0px 10px #ff0500 !important;
}



/* Оформление окна popup */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  
  background-color: #121212!important;
  box-shadow: 0px 0px 5px 0px #ffb28b!important;
}

/* The Close Button */
.close {
  color: #ffffff!important;
  float: right;
  text-shadow: 0 1px 0 #000000!important;
  font-size: 28px;
  font-weight: bold;
  opacity: 0.5!important;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  color: #ff9a49!important;
  text-decoration: none!important;
  text-shadow: 1px 1px 1px black, 0 0 1em #cc6666!important;
  transition: 1s!important;
  opacity: 1.5!important;
}


/*--Кнопка заказать--*/
.button-62 {
  background: linear-gradient(to bottom right, #2e2e2e, #1a1a1a);
  border: 0;
  border-radius: 6px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  position: relative;
  left: 50%;
  margin: 0px 0px 20px 0px;
  transform: translate(-50%, 0);
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
	background: linear-gradient(to bottom right, #ffad5b, #ff5a5a);
  border: 0;
  border-radius: 6px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  position: relative;
  left: 50%;
  margin: 0px 0px 20px 0px;
  transform: translate(-50%, 0);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
background: linear-gradient(to bottom right, #ffad5b, #ff5a5a);
  border: 0;
  border-radius: 6px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  position: relative;
  left: 50%;
  margin: 0px 0px 20px 0px;
  transform: translate(-50%, 0);
}


/*--Адаптация под мобилу --*/	
@media only screen
and (max-width : 505px) {

img.log {
    position:relative;
    width:100px;
    height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: 1s;
	transition: all 2.2s ease-in-out;
}
img.log:hover {
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}


.description2 {
    font-family: 'Rubik One', sans-serif;
    font-size: 35px;
	transform: 1s;
	transition: all 2.2s ease-in-out;
    background: #525252;
    display: table;
    margin: 20px auto;
    color: white;
    border-radius: 5px;
    mix-blend-mode: multiply;
    padding: 5px 10px;
    font-weight: 800;
    text-transform: uppercase;
}


.description2:hover {
	font-family: 'Rubik One',sans-serif;
	font-size: 35px;
	background: #141414;
	display: table;
	margin: 20px auto;
	color: #ff7e0b;
	border-radius: 5px;
	mix-blend-mode: normal;
	padding: 5px 10px;
	font-weight: 800;
	text-transform: uppercase;
}


.modal-content {
  width: 80%;
}
	
}
	
/*--- Кнопка верх ---*/	
#top {

  width:39px;
  margin-top:-35px;
  width: 250px;
  margin: 0px 25px 0px 0px;
}
#top {
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    opacity: 0.5;
    display:none;
    cursor: pointer;
}
#top:hover {
    opacity: 1;
}
	
	
	
	
	
/*--- Оформление Select menu ---*/	
	
.select {
    position: relative;
    display: block;
    min-width: 220px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.select__head {
    width: 100%;
	background:#303030;
	border: solid 2px #0e0e0e
	box-shadow: inset 0px 0px 5px 0px #606060 !important;
    max-width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 14px 15px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(203 203 203 / 80%);
    cursor: pointer;
}

.select__head::after {
    width: 10px;
    height: 6px;
    background: #303030;
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);
    content: '';
    display: block;
    transition: .2s ease-in;
}

.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}

.select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #303030;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 5px;
    max-height: 205px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #ffffff;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}

.select__list .select__item {
    position: relative;
    border-top: 1px solid rgb(61 61 61 / 50%);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none;
}

.select__list .select__item:hover {
    background-color: rgb(28 28 28 / 50%);
}


.fit-picture {
  width: 35px;
}

















.social-icons2 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.social-icons {
  display: flex;
  justify-content: center;
}
 
.social-icons a {
  margin: 0 10px;
}
 
.social-icons img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
}
 
.social-icons a:hover img {
  transform: scale(1.2);
}


input:focus, textarea:focus {
    padding: 4px 6px 20px 6px; 
  }
  input:focus + label, textarea:focus + label {
    top: 100%;
    margin-top: -16px;
  }





